/* PIE DE PAGINA */

footer {
    color: map-get($colores, color-secondary);
    background-image: url(../img/fondonaranja2.jpg);
    background-size: contain;
    text-align: center;
    padding: 25px 0px;
    border: 3px solid map-get($colores, color-tertiary)
}

.p1 {
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.iconored {
    width: 50px;
    height: 50px;
    transition: 0.2s;

    &:hover {
        transform: scale(1.1);
    }
}

.footer1 {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: map-get($colores, color-primary);
    padding: 5px;
    @extend %borderRadius;
    border: 1px solid map-get($colores, color-secondary);
    background-color: map-get($colores, color-secondary);

}

.iconopagfooter {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 200px;
    @extend %borderRadius;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);

    }

}

.pcontactfot {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    color: map-get($colores, color-primary);
    border: 1px solid map-get($colores, color-secondary);
    background-color: map-get($colores, color-secondary);
    max-width: 300px;
    margin: auto;
}

.divfooter{
border: 2px solid;
border-top-right-radius: 30px;
border-top-left-radius: 30px;
margin: auto;
width: 500px;
padding: 15px;
}