/* HEADER */

header {
    display: flex;
    width: auto;
    padding: 5px 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: map-get($colores, color-secondary);
    border: 3px solid map-get($colores, color-tertiary);
}

.p4 {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    transition: 0.5s;
    margin: auto;
    padding: 10px;

    &:hover {
        transform: scale(1.1);

    }
}

.nav1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: map-get($colores, color-primary);
    color: map-get($colores, color-secondary);
    border: 3px outset map-get($colores, color-secondary);
    @extend %borderRadius;
    margin: 15px;
}

.navtexto {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: map-get($colores, color-secondary);
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    border: 2px solid map-get($colores, color-primary);
    @extend %borderRadius;
    transition: 0.5s;

    &:hover {
        display: flex;
        justify-content: center;
        text-align: center;
        color: map-get($colores, color-primary);
        border: 2px solid map-get($colores, color-secondary);
        background-color: map-get($colores, color-secondary);
        @extend %borderRadius;
        font-family: 'Permanent Marker', cursive;

    }
}