/* HEADER */

header {
    display: flex;
    width: 100%;
    padding: 15px 60px;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/fondonegrotextura.jpg);
    background-size: contain;
}

.p4 {
    width: 250px;
    height: 200px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 20px;

    &:hover {
        transform: scale(1.1);

    }
}

.nav1 {
    display: flex;
    justify-content: center;
    text-align: center;
    @extend %borderRadius;
    background-color: map-get($colores, color-primary);
    color: map-get($colores, color-secondary);
    border: 3px outset map-get($colores, color-tertiary);
    margin: 20px;
}

.navtexto {
    display: flex;
    justify-content: center;
    text-align: center;
    color: map-get($colores, color-secondary);
    font-family: 'Permanent Marker', cursive;
    font-size: 17px;
    border: 2px solid map-get($colores, color-primary);
    @extend %borderRadius;
    transition: 0.5s;

    &:hover {
        display: flex;
        justify-content: center;
        text-align: center;
        color: map-get($colores, color-primary);
        border: 2px solid map-get($colores, color-secondary);
        background-color: map-get($colores, color-secondary);
        @extend %borderRadius;
        font-family: 'Permanent Marker', cursive;
        font-size: 20px;

    }
}