/* CONTENIDO PRINCIPAL */

main {
    background-image: url(../img/blancotextura.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.titulo1 {
    font-size: 70px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Titan One', cursive;
    background-image: url(../img/fondonaranja2.jpg);
    background-size: contain;
    color: map-get($colores, color-secondary);

}

.itf {
    border-radius: 100px;
    width: 75px;
    height: 75px;
}

.bord1 {
    border: 2px solid map-get($colores, color-tertiary);
    padding: 30px;

}

.promocion1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    border: 3px solid map-get($colores, color-tertiary);
    margin: auto;
    width: 500px;
    color: map-get($colores, color-tertiary);
    background-image: linear-gradient(to right, $color-secondary, $colorGradiet);
}

.t1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    border: 3px solid map-get($colores, color-tertiary);
    @extend %borderRadius;
    color: map-get($colores, color-primary);
    background-image: linear-gradient(to right, $color-secondary, $colorGradiet);
}

.textohistoria {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: map-get($colores, color-secondary);
    color: map-get($colores, color-primary);
    font-size: 17px;
    border: 2px solid map-get($colores, color-tertiary);
    @extend %borderRadius;
    text-decoration: none;
    padding: 25px;

}

.p2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}

.c3 {
    display: flex;
    width: 600px;
    height: 600px;
    margin: auto;
}


.fotogaleria {
    border-radius: 15px;
    width: 1000px;
    height: 400px;
}

.fotogaleria2 {
    border-radius: 30px;
}

.c4 {
    display: flex;
    width: 350px;
    height: 450px;
    margin: auto;
}

.c1 {
    display: flex;
    width: 900px;
    height: 700px;
    margin: auto;

}

.c2 {
    @extend %borderRadius;

}

.texto11 {
    display: flex;
    color: map-get($colores, color-primary);
    border: 3px solid map-get($colores, color-tertiary);
    background-image: linear-gradient(to right, $color-secondary, $colorGradiet);
    @extend %borderRadius;
    padding: 30px;
    font-size: 25px;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 500px;
}

.flecha2 {
    display: flex;
    filter: brightness(1.2);
    mix-blend-mode: multiply;
    width: 150px;
    height: 100px;
    margin: auto;
}

.formulario1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to right, $color-secondary, $colorGradiet);
    border-radius: 15px;
    border: 3px solid map-get($colores, color-tertiary);
    margin: auto;
    width: 500px;
}

.form1 {
    font-size: 20px;
    color: map-get($colores, color-secondary);
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 15px;
    border-color: map-get($colores, color-primary);

    &:hover {
        color: map-get($colores, color-primary);
        background-color: map-get($colores, color-secondary);
        border-color: map-get($colores, color-tertiary);
    }
}


.textoform {
    color: map-get($colores, color-primary);
    text-decoration: underline;
}


.fotocard1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: auto;
    height: 500px;
    background-color: map-get($colores, color-secondary);

}

.textcard {
    color: map-get($colores, color-primary);
    font-size: 45px;
    font-family: 'Permanent Marker', cursive;
    border: 1px solid map-get($colores, color-secondary);
}

.textcard1 {
    color: map-get($colores, color-primary);
    font-size: 25px;
    font-family: 'Permanent Marker', cursive;
}

.fondocard {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: map-get($colores, color-secondary);

}

.cardtamano {
    width: 1105px;
    margin: auto;
}


.buttoninfo {
    @include buttonlocal ($backColor: map-get($colores, color-secondary));
    text-decoration: none;
}

.pcarrousel {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 800px;
    border: 2px solid map-get($colores, color-secondary);
    @extend %borderRadius;
    color: map-get($colores, color-primary);
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    background-color: map-get($colores, color-secondary);

}
