/*POR DEFECTO*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
* {
  margin: 0.05%;
  padding: 0.05%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

/*FONTS*/
.iconopagfooter, .footer1, .formunew, .pcarrousel, .buttoninfo, .texto11, .c2, .textohistoria, .t1, .navtexto:hover, .navtexto, .nav1 {
  border-radius: 30px;
}

/* HEADER */
header {
  display: flex;
  width: auto;
  padding: 5px 0px;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  border: 3px solid #ffd700;
}

.p4 {
  width: 250px;
  height: 200px;
  border-radius: 50px;
  transition: 0.5s;
  margin-left: 100px;
  padding: 10px;
}
.p4:hover {
  transform: scale(1.1);
}

.nav1 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #000000;
  border: 3px outset #000000;
  margin: 15px;
}

.navtexto {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #000000;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  border: 2px solid #fff;
  transition: 0.5s;
}
.navtexto:hover {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  border: 2px solid #000000;
  background-color: #000000;
  font-family: "Permanent Marker", cursive;
}

/* CONTENIDO PRINCIPAL */
main {
  background-image: url(../img/blancotextura.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titulo1 {
  font-size: 70px;
  line-height: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Titan One", cursive;
  background-image: url(../img/fondonaranja2.jpg);
  background-size: contain;
  color: #000000;
}

.itf {
  border-radius: 100px;
  width: 75px;
  height: 75px;
}

.bord1 {
  border: 2px solid #ffd700;
  padding: 30px;
}

.promocion1 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 35px;
  border: 3px solid #ffd700;
  margin: auto;
  width: 500px;
  color: #ffd700;
  background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
}

.t1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 500px;
  padding: 20px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  border: 3px solid #ffd700;
  color: #fff;
  background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
}

.textohistoria {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #000000;
  color: #fff;
  font-size: 17px;
  border: 2px solid #ffd700;
  text-decoration: none;
  padding: 25px;
}

.p2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}

.c3 {
  display: flex;
  width: 600px;
  height: 600px;
  margin: auto;
}

.fotogaleria {
  border-radius: 15px;
  width: 1000px;
  height: 400px;
}

.fotogaleria2 {
  border-radius: 30px;
}

.c4 {
  display: flex;
  width: 350px;
  height: 450px;
  margin: auto;
}

.c1 {
  display: flex;
  width: 900px;
  height: 700px;
  margin: auto;
}

.texto11 {
  display: flex;
  color: #fff;
  border: 3px solid #ffd700;
  background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
  padding: 30px;
  font-size: 25px;
  margin: auto;
  text-align: center;
  justify-content: center;
  width: 500px;
}

.flecha2 {
  display: flex;
  filter: brightness(1.2);
  mix-blend-mode: multiply;
  width: 150px;
  height: 100px;
  margin: auto;
}

.fotocard1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 925px;
  height: 400px;
  background-color: #000000;
  transition: 0.1s;
}
.fotocard1:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.textcard {
  color: #fff;
  font-size: 45px;
  font-family: "Permanent Marker", cursive;
  border: 1px solid #000000;
  transition: 0.2s;
}
.textcard:hover {
  color: #ffd700;
}

.textcard1 {
  color: #fff;
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
  transition: 0.2s;
}
.textcard1:hover {
  color: #ffd700;
}

.fondocard {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  background-color: #000000;
}

.cardtamano {
  width: 930px;
  height: 500px;
  margin: auto;
}

.buttoninfo {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 350px;
  height: 100px;
  text-align: center;
  align-items: center;
  background-color: #000000;
  padding: 20px;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  font-size: 25px;
  transition: 0.5s;
  text-decoration: none;
}
.buttoninfo:hover {
  background-color: #ffd700;
  color: #000000;
}

.pcarrousel {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 800px;
  border: 2px solid #000000;
  color: #fff;
  font-family: "Permanent Marker", cursive;
  font-size: 35px;
  background-color: #000000;
}

.formunew {
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  margin: auto;
  padding: 30px;
  font-family: "Permanent Marker", cursive;
}

.textoform {
  color: #000000;
  font-family: "Permanent Marker", cursive;
}

/* PIE DE PAGINA */
footer {
  color: #000000;
  background-image: url(../img/fondonaranja2.jpg);
  background-size: contain;
  text-align: center;
  padding: 25px 0px;
  border: 3px solid #ffd700;
}

.p1 {
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
}

.iconored {
  width: 50px;
  height: 50px;
  transition: 0.2s;
}
.iconored:hover {
  transform: scale(1.1);
}

.footer1 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #fff;
  padding: 5px;
  border: 1px solid #000000;
  background-color: #000000;
}

.iconopagfooter {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 200px;
  transition: 0.5s;
}
.iconopagfooter:hover {
  transform: scale(1.1);
}

.pcontactfot {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  color: #fff;
  border: 1px solid #000000;
  background-color: #000000;
  max-width: 300px;
  margin: auto;
}

.divfooter {
  border: 2px solid;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: auto;
  width: 500px;
  padding: 15px;
}

/*MOBILE*/
@media screen and (max-width: 1178px) {
  header {
    flex-direction: column;
  }
  .p4 {
    margin: auto;
  }
  .fotocard1 {
    width: 925px;
    height: 400px;
  }
  .cardtamano {
    width: 930px;
  }
}
@media screen and (max-width: 995px) {
  .c1 {
    display: flex;
    width: 500px;
    height: 400px;
    margin: auto;
  }
  .fotocard1 {
    width: 590px;
    height: 300px;
  }
  .textcard {
    font-size: 15px;
  }
  .textcard1 {
    font-size: 15px;
  }
  .cardtamano {
    width: 595px;
    height: 410px;
  }
}
@media screen and (max-width: 750px) {
  header {
    display: flex;
    width: auto;
    padding: 5px 0px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
  }
  header ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  .nav1 {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    color: #000000;
    border: 3px outset #000000;
  }
  .navtexto {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.5s;
    padding: 10px;
  }
  .navtexto:active {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    border: 2px solid #000000;
    background-color: #000000;
    border-radius: 15px;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
  }
  .p4 {
    width: 200px;
    height: 150px;
    border-radius: 25px;
  }
  .itf {
    border-radius: 100px;
    width: 40px;
    height: 40px;
  }
  .titulo1 {
    font-size: 20px;
    line-height: 65px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url(../img/fondonaranja2.jpg);
    background-size: contain;
    color: #000000;
  }
  .promocion1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    border: 3px solid #ffd700;
    margin: auto;
    width: 250px;
    color: #ffd700;
    background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
  }
  .iconored {
    width: 30px;
    height: 30px;
  }
  footer {
    background-size: auto;
  }
  .footer1 {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    color: #fff;
  }
  .iconopagfooter {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    border-radius: 20px;
    transition: 0.5s;
  }
  .iconopagfooter:hover {
    transform: scale(1.1);
  }
  .pcontactfot {
    font-family: "Permanent Marker", cursive;
    font-size: 10px;
    color: #fff;
    border: 1px solid #000000;
    background-color: #000000;
    max-width: 150px;
    margin: auto;
  }
  .p1 {
    font-size: 15px;
  }
  .textohistoria {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #fff;
    font-size: 15px;
    border: 2px solid #ffd700;
    text-decoration: none;
    padding: 25px;
  }
  .fotogaleria {
    border-radius: 15px;
    width: 300px;
    height: 200px;
  }
  .c3 {
    display: flex;
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .t1 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 20px;
    font-family: "Permanent Marker", cursive;
    font-size: 15px;
    border: 3px solid #ffd700;
    color: #fff;
    background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
  }
  .c1 {
    display: flex;
    width: 300px;
    height: 225px;
    margin: auto;
  }
  .c4 {
    display: flex;
    width: 250px;
    height: 350px;
    margin: auto;
  }
  .texto11 {
    display: flex;
    color: #fff;
    border: 3px solid #ffd700;
    background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
    padding: 30px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 275px;
  }
  .fotocard1 {
    width: 345px;
    height: 150px;
  }
  .textcard {
    font-size: 15px;
  }
  .textcard1 {
    font-size: 15px;
  }
  .cardtamano {
    width: 350px;
    height: 240px;
  }
  .buttoninfo {
    font-size: 15px;
  }
  .pcarrousel {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 800px;
    border: 2px solid #000000;
    color: #fff;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
    background-color: #000000;
  }
  .buttoninfo {
    font-size: 13px;
  }
  .divfooter {
    width: auto;
    border: none;
  }
}
@media screen and (max-width: 420px) {
  .itf {
    border-radius: 100px;
    width: 25px;
    height: 25px;
  }
  .fotocard1 {
    width: 315px;
    height: 130px;
  }
  .cardtamano {
    width: 320px;
  }
}
@media screen and (max-width: 370px) {
  .texto11 {
    display: flex;
    color: #fff;
    border: 3px solid #ffd700;
    background-image: linear-gradient(to right, #000000, rgb(82, 76, 76));
    padding: 30px;
    font-size: 15px;
    margin: auto;
    text-align: center;
    justify-content: center;
    width: 200px;
  }
  .c1 {
    display: flex;
    width: 250px;
    height: 200px;
    margin: auto;
  }
  .c3 {
    display: flex;
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .c4 {
    display: flex;
    width: 200px;
    height: 300px;
    margin: auto;
  }
  .fotocard1 {
    width: 220px;
    height: 100px;
  }
  .cardtamano {
    width: 225px;
  }
}/*# sourceMappingURL=styles.css.map */